@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

section{
    height:100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Brawler;
    line-height: 2.2em;

}

a{
    text-decoration: none;
    color: black;
}

b{
  text-decoration: none;
  color: #000000;
}

.container{
    max-width: 90%;
    margin:auto;
}

.btn{
    font-family: Brawler;
    display: inline-block;
    padding: 15px 40px;
    background: #D6D4AD;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 03px;
    color:#fff;
    transition: all 0.3;
    margin-top:30px;
}

.btn:hover {
    transform: scale(1.1); /* This will make the button 10% larger */
    transition: all;
}

.clr{
    clear: both;
}
/* Close Utility Classes */

#navbar{
    background: #FFFFFF;
    overflow: auto;
    border-top:20px solid #D6D4AD;
    position: fixed;
    top: 0px;
    width:100%;
}
#navbar h1{
    float: left;
    font-size: 40px;
    padding-top: 40px;
    padding-right: 20px;
}

#navbar ul{
    list-style: none;
    float: right;
}

#navbar ul li{
    float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  padding-top: 40px;

  font-size: 18px;
  text-align: center;
  transition: all 0.5s;
}

#navbar ul li a:hover,
#navbar ul li a.current{
    font-size: 130%;
    font-weight: bold;
    transition: all 0.5s;
}

/* Contact Us */

#contact .form-group{
    margin-bottom: 20px;
}

.contact-form label{
    display: block;
    margin-bottom: 5px;
}

.contact-form input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}

#contact textarea{
    height: 200px;
    width: 100%;
}

.contact-form input:focus,
.contact-form textarea:focus{
    outline: none;
    border-color: #D6D4AD;
}


/* Footer */

#main-footer{
    background: #D6D4AD;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color:#fff;
}