@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

section{
    min-height:100vh;
    display:grid;
    place-items:center;
    align-content:center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Brawler;
    line-height: 2.2em;
    width: 100%;
    height: 100%;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

#navbar .container{
    width: 90%;
}

.container{
    margin:auto;
    justify-content: space-around;
}

.clr{
    clear: both;
}

/* Animations */

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: #e8f2ff;
  display: none;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
/* Close Utility Classes */

#navbar{
    background: #FFFFFF;
    overflow: auto;
    letter-spacing: 2px;
    border-top:20px solid #D6D4AD;
    border-bottom: 1px solid #8E8B62; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index:100;
}

#navbar h1{
    float: left;
    font-size: clamp(20px, 1rem + 1.5vw, 100px);
    padding-top: 45px;
    padding-right: 20px;
}

#navbar ul{
    list-style: none;
    float: right;
}

#navbar ul li{
    float: left;
}

#navbar ul li a {
  display: block;
  padding: 1rem;
  padding-top: 3rem;
  font-size: clamp(20px, 1rem + 0.3vw, 100px);
  text-align: center;
  transition: all 0.5s;
}

#navbar ul li a:hover,
#navbar ul li a.current{
    font-size: 130%;
    font-weight: bold;
    transition: all 0.5s;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    box-shadow: -10px 0 10px #b8b6b6;
    backdrop-filter: blur(4px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}

@media(max-width: 900px){
    .hideOnMobile{
        display: none;
    }

    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
/* Home page */

#home{
    display: flex;
    letter-spacing: 2px;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    font-size: 5rem;
    color: #8E8B62;
}

.home-content h3{
    margin-bottom: 1rem;
    margin-top: 2.5rem;
    font-size: clamp(20px, 1rem + 1.5vw, 100px);
}

.hi{
    color: #51531b;
    font-size: clamp(20px, 1rem + 3vw, 100px);
}

.home-content h1{
    font-size: clamp(20px, 1rem + 7vw, 100px);
    font-weight: 700;
    margin-top: 1.7rem;
    line-height: 1;
}

.home-content .im{
    font-size: clamp(20px, 1rem + 3vw, 100px);
}

.socials a{
    display: inline-flex;
    justify-content: center;
    align-items:center;
    width:4.5rem;
    height:4.5rem;
    border: 2px solid #8E8B62;
    font-size: 2.5rem;
    border-radius: 50%;
    margin: 3rem 1rem 1rem 0;
    transition: 0.3s ease-in-out;
    color: #D6D4AD;
    background-color: #8E8B62;
}

.socials a:hover{
    transform: scale(1.3)translateY(-5px);
    color: #D6D4AD;
    box-shadow: 0 0 25px #8E8B62;
    background-color: #8E8B62;
}

.btn{
    font-family: Brawler;
    color:#FFFFFF;
    margin-top:30px;
    display: inline-block;
    padding: 1rem 2.8rem;
    box-shadow: 0 0 25px #D6D4AD;
    background-color: #D6D4AD;
    font-size: 1.5rem;
    border-radius: 4rem;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 50px #D6D4AD;
}

.text-animation {
    font-size: clamp(20px, 1rem + 1.5vw, 100px);;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span {
    position: relative;
    white-space: nowrap;
}

.text-animation span::before {
    content: "Software Engineer";
    color: #51531b;
    animation: words 20s infinite;
}

.text-animation span::after {
    content: "";
    background-color: #FFFFFF;
    position: absolute;
    width: calc(100% + 8px);
    height: 120%;
    border-left: 3px solid #FFFFFF;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid hsl(56, 18%, 47%);
    }
}

@keyframes words {
    0%, 20% {
        content: "Web Developer";
    }
    21%, 40% {
        content: "Full Stack Developer";
    }
    41%, 60% {
        content: "Software Engineer";
    }
    61%, 80% {
        content: "Web Developer";
    }
    81%, 100% {
        content: "Full Stack Developer";
    }
}

@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}


/* About Me */

#about img{
    height: 66vh;
    width: 50vh;
    -webkit-user-drag: none;
    margin-top: 9%;
}

.about-text{
    width: 60vh;
    margin-top: 8%;
}

.main{
    width: 1130px;
    max-width: 95%;
    display: flex;
}

h2{
    color:#8E8B62;
    font-size: 3rem;
    letter-spacing: 2px;
    margin-bottom: 3%;
}

p{
    color: black;
    letter-spacing: 2px;
    line-height: 1.7rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

/* My Skills*/

.skills{
    width: 100%;
    max-width: 100vh;
    padding: 0;
}

.skill-name{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: #51531b;
    margin: 14px 0;
}

.skill-bar{
    height: 2rem;
    border: 2px solid #8E8B62;
    background: #f1f1f1;
    border-radius: 20rem;
}

.skill-per{
    height: 1.75rem;
    background: #D6D4AD;
    position: relative;
    border-radius: 20rem;
}

.skill-per.animate{
    animation: fillBars 3.5s 1;
}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 0.5rem 0.5rem;
    letter-spacing: 1px;
    background: #f1f1f1;
    border-radius: 20rem;
    border: 2px solid #8E8B62; 
    font-size: 1.1rem;
    top: -1rem;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after{
    content: "";
    position: absolute;
    width: 0.01rem;
    height: 0.1rem;
    background: #8E8B62;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
/* Contact Us */

/* Footer */

#main-footer{
    background: #D6D4AD;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color:#fff;
}

/* Sizing */